@import url('https://fonts.googleapis.com/css2?family=Sanchez&display=swap');
*{
    padding: 0;
    margin: 0;
}
.mainContent{
    width: 100%;
    flex-direction: column;
    display: flex;
    flex-flow: row wrap;
}
.logo{
    margin-left: 60%;
    width: 250px;
    padding-bottom: 6%;
    padding-top: 2%;
    justify-content: flex-end;
}
.professor{
    margin-left: 10%;
    width: 80%;
    display: block;
    align-items: center;
}
section{
    width: 50%;
}
aside{
    display: flex;
    flex-direction: column;
    width: 50%;
}
h3{
    margin:0px 0px 0px 30px;
    font-family: 'Sanchez',normal;
    color: #36B1C4;
    font-size: 32px;
}
p{
    font-size: 20px;
    margin:0px 0px 20px 30px;
    font-family: 'Sanchez',normal;
    line-height: 135%;
}
footer{
    font-size: 24px;
    width: 100%;
    background: #36B1C4;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height:65px;
}
.inconeContato{
    width: 40px;
    }
footer ul {
    list-style: none;
    display: flex;
    gap: 100px;
}
footer a{
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media(max-width:1300px){
    h3{
        font-size: 29px;
    }
    p{
        font-size: 17px;
    }
}
@media(max-width:1150px){
    h3{
        font-size: 25px;
    }
    p{
        font-size: 15px;
    }
    .logo{
        width: 200px;
    }
}
@media(max-width:1200px){
    footer{
        font-size: 20px;
    }
    .inconeContato{
        width: 30px;
        }
    footer ul {
        gap: 70px;
    }
}
@media (max-width:1002px) {
    h3{
        font-size: 20px;
    }
    p{
        font-size: 12px;
    }
}
@media(max-width:940px){
    footer{
        font-size: 18px;
    }
    .inconeContato{
        width: 25px;
        }
    footer ul {
        gap: 50px;
    }
    .logo{
        width: 150px;
    }
}
@media(max-width:810px){
    h3{
        font-size: 17px;
    }
    p{
        font-size: 9px;
    }
    footer{
        height:100%;
    }
    footer ul {
        gap: 20px;
        padding: 15px;
        flex-direction: column;
    }
    .logo{
        width: 120px;
    }
}
@media(max-width:625px){
    h3{
        font-size: 15px;
    }
    p{
        font-size: 8px;
    }
}
@media(max-width:596px){
    .mainContent{
        width: 100%;
        flex-direction: column;
        display: flex;
        flex-flow: row wrap;
    }
    section{
        margin-top: 2%;
        width: 100%;
    }
    p{
        margin:2px 25px 20px 30px;
    }
    aside{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .professor{
        display: none;
    }
    .logo{
        margin-left: auto;
        margin-right: auto;
        width: 120px;
        padding-bottom: 6%;
        padding-top: 2%;
    }
}