@import url('https://fonts.googleapis.com/css2?family=Sanchez&display=swap');

*{
    padding: 0;
    margin: 0;
}
header{
    background: url('../images/background (1).png');
    width:100%;
    font-family: 'Sanchez',normal;
    display: flex;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
.logo{
    margin-top: 15px;
    margin-left: 15px;
    width: 270px;
    margin-bottom: 7px;
}
.parte1{
    font-size: 35px;
    margin-bottom: -20px;
}
.parte2{
    font-size: 90px;
}
.TextoNavCenter{
    margin-top: 1%;
    margin-left:25%;
    margin-bottom: 5px;
}
nav{
    width: 100%;
    background-color: #36B1C4;
    height: 60px;
    align-items: center;
    display: flex;
    justify-content: flex-end;
}
nav a{
    padding-right: 30px;
    font-size: 30px;
    color: white;
    text-decoration: none;
}
.navBar{
    width: 90%;
    color: white;
    font-size: 35px;
    margin-left: 5px;
}    
.inconeAcesso{
    margin-bottom: -5px;
    width: 30px;
}
.mainContent{
    font-family: 'Sanchez',normal;
    width: 100%;
    flex-direction: column;
    display: flex;
    flex-flow: row wrap;
}
p{
    margin: 70px 400px 40px 400px;
    font-size: 22px;
    text-align: center;
}
section{
    width: 70%;
}
aside{
    width: 30%;
}
.H3Section{
    margin-top: 50px;
    margin-left: 80px;
    font-size: 35px;
}
.buttonBlue{
    font-size: 23px;
    color: white;
    width: 95px;
    height: 40px;
    background-color: #36B1C4;
    border-radius: 9px;
    border: transparent;
    margin-left:-10px;
    margin-top:35px;
}
input{
    height: 50px;
    width: 260px;
    background: #FFFFFF;
    border: 1px solid #767676;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    padding-left:1%;  
}
label{
    font-size: 20px;
}
.formBuscar{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    text-align: right;
}
.bonecoInterrego{
    width: 150%;
    margin-left: -450px;
}
@media(max-width:1535px){
    .bonecoInterrego{
        margin-left: -250px;
    }
}
@media(max-width:1130px){
    .bonecoInterrego{
        margin-left: -150px;
    }
    p{
        margin: 70px 250px 40px 250px;
    }
}
@media(max-width:920px){
    .bonecoInterrego{
        display:none;
    }
    p{
        margin: 70px 100px 40px 100px;
    }
    section{
        width: 100%;
    }
    .parte1{
        font-size: 25px;
    }
    .parte2{
        font-size: 70px;
    }
    .TextoNavCenter{
        margin-top: 20px;
        margin-left:95px;
        margin-bottom: 5px;
    }
}
@media(max-width:680px){
    .TextoNavCenter{
        display: none;
    }
    header{
        align-items: center;
        justify-content: center;
    }
    .navBar{
        width: 90%;
        font-size: 25px;
        margin-left: 5px;
    } 
}