@import url('https://fonts.googleapis.com/css2?family=Sanchez&display=swap');

*{
    padding: 0;
    margin: 0;
}
header{
    background: url('../images/background (1).png');
    width:100%;
    font-family: 'Sanchez',normal;
    display: flex;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
.logo{
    margin-top: 15px;
    margin-left: 15px;
    width: 270px;
    margin-bottom: 7px;
}
.parte1{
    font-size: 35px;
    margin-bottom: -20px;
}
.parte2{
    font-size: 90px;
}
.TextoNavCenter{
    margin-top: 1%;
    margin-left:25%;
    margin-bottom: 5px;
}
nav{
    width: 100%;
    background-color: #36B1C4;
    height: 60px;
    align-items: center;
    display: flex;
    justify-content: flex-end;
    font-family: 'Sanchez',normal;
}
nav a{
    padding-right: 30px;
    font-size: 30px;
    color: white;
    text-decoration: none;
}
.navBar{
    width: 90%;
    color: white;
    font-size: 35px;
    margin-left: 5px;
}  
nav ul{
    list-style: none;
    display: flex;
    margin-right: 20px;
}
.inconesNav{
    width: 35px;
    margin-left: -20px;
}
.setaUser{
    width: 35px;
    transform: rotateY(180deg);
}
#nomeUser{
    color: white;
    width: 310px;
    font-size: 20px;
    display: flex;
    align-items: center;
    margin-right: -235px;
}
.photoUser{
    width: 200px;
    margin-bottom: 150px;
    margin-right: 80px;
}
.mainContent{
    font-family: 'Sanchez',normal;
    width: 100%;
    flex-direction: column;
    display: flex;
}
#pgInicial{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#pgInicial a{
    color: black;
    font-size: 30px;
}
#setaPreta{
    width: 40px;
    transform: rotateY(180deg);
}
#headerTitle{
    background-color: #36B1C4;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
p{
    font-size: 36px;
    text-align: center;
    margin: 50px auto 50px auto ;
}
input{
    height: 50px;
    width: 260px;
    background: #FFFFFF;
    border: 1px solid #767676;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 9px; 
    text-align: center;
    font-size: 20px;
}
label{
    font-size: 20px;
}
#cam{
    width: 60px;
}
#vert{
    display: flex;
    align-items: center;
    gap:8px;
}
#formBuscaCodAula{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: right;
}
.buttonBlue{
    font-size: 27px;
    color: white;
    width: 165px;
    height: 40px;
    background-color: #36B1C4;
    border-radius: 9px;
    border: transparent;
    margin-left:-10px;
    margin-top:35px;
}
@media(max-width:1145px){
    .setaUser{
        display: none;
    }
    .photoUser{
        display: none;
    }
    .navBar{
        width: 50%;
    }     
    nav{
        justify-content: center;
    }
    #nomeUser{
        width: 200px;
        margin-right: 0px;
    }
}
@media(max-width:966px){
    .parte1{
        font-size: 25px;
    }
    .parte2{
        font-size: 70px;
    }
    .navBar{
        font-size: 25px;
    } 
    .TextoNavCenter{
        margin-top: 20px;
        margin-left:95px;
        margin-bottom: 5px;
    }
}
@media(max-width:760px){
    nav{
        height: 90px;
    }
}
@media(max-width:680px){
    .TextoNavCenter{
        display: none;
    }
    header{
        align-items: center;
        justify-content: center;
    }
    .navBar{
        width: 90%;
        margin-left: 5px;
    }
}
@media(max-width:540px){
    .inconesNav{
        margin-left:-30px;
    }
}